<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <h1>ログイン</h1>

    <p id="form-error" style="color: red;"></p>

    <form id="login-form">
        <div>
            <label for="email">メールアドレス</label>
            <input type="email" id="email" />
            <span id="email-error" style="color: red;"></span>
        </div>

        <div>
            <label for="password">パスワード</label>
            <input type="password" id="password" />
            <span id="password-error" style="color: red;"></span>
        </div>

        <button type="submit">ログイン</button>
        <a th:href="@{/register}">会員登録へ</a>
    </form>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var topUrl = /*[[@{/}]]*/ '/';
        /*]]>*/

        $(function () {
            $('#login-form').on('submit', function (e) {
                e.preventDefault();

                $('#form-error').text('');
                $('#login-form span[id$="-error"]').text('');

                var data = JSON.stringify({
                    email: $('#email').val(),
                    password: $('#password').val()
                });

                $.ajax({
                    url: '/api/auth/login',
                    type: 'POST',
                    contentType: 'application/json',
                    data: data,
                    success: function () {
                        window.location.href = topUrl;
                    },
                    error: function (xhr) {
                        if (xhr.status === 400 && xhr.responseJSON) {
                            var fieldErrors = xhr.responseJSON.fieldErrors || {};
                            $.each(fieldErrors, function (field, message) {
                                $('#' + field + '-error').text(message);
                            });
                        } else {
                            var message = (xhr.responseJSON && xhr.responseJSON.message) || 'ログインに失敗しました';
                            $('#form-error').text(message);
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
